.header__lang-link {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    transition: font-size .3s, opacity .5s;
}

.header__lang-link:hover {
    opacity: .8;
}

@media screen and (max-width: 730px) {
    .header__lang-link {
        font-size: 18px;
    }
}
