.photo-grid {
    display: grid;
    width: 90%;
    margin: 0 auto 92px;
}

@media screen and (max-width: 425px) {
    .photo-grid {
        gap: 12px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 426px) and (max-width: 730px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

@media screen and (min-width: 731px) and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}