.places {
    margin-bottom: 92px;
}

@media screen and (max-width: 425px) {
    .places {
        margin-bottom: 66px;
    }
}

@media screen and (min-width: 550px) and (max-width: 730px) {
    .places {
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 731px) and (max-width: 768px) {
    .places {
        max-width: 90%;
        margin: auto;
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places {
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .places {
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        max-width: 75%;
        margin: auto;
    }
}