.header {
    margin: 28px auto 56px;
    width: calc(100% - 48px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 28px auto 48px;
    }
}

@media screen and (max-width: 730px) {
    .header {
        margin: 16px auto 48px;
    }
}