.place__text {
    grid-area: text;
    max-width: 484px;
}

@media screen and (max-width: 1024px) {
    .place__text {
        max-width: 456px;
    }
}


@media screen and (max-width: 620px) {
    .place__text {
        max-width: calc(100% - 32px);
        margin: 0 auto 0;
    }
}