.place__text {
        grid-area: text;
    }

    @media screen and (max-width: 730px) {
        .place__text  {
            max-width: 100%;
            margin: 0;
        }
    }

    @media screen and (max-width: 425px) {
        .place__text  {
            max-width: 100%;
            margin: auto;
        }
    }