.footer__copyright {
    font-size: 14px;
    line-height: 1.1;
    width: 90%;
    margin: 0;
    text-align: end;
}


@media screen and (max-width: 730px) {
    .footer__copyright {
        line-height: 1;
        margin: 0 auto 0;
        text-align: center;
    }
}


@media screen and (max-width: 425px) {
    .footer__copyright {
        text-align: left;
    }
}
