.intro {
    width: calc(100% - 296px);
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin-bottom: 88px;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 0 auto 64px;
        width: calc(100% - 32px);
    }
}