.cover {
    min-height: 740px;
    max-width: 90%;
    margin: 0 auto 92px;

    text-align: center;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
      min-height: 640px;
    }
  }

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
        min-height: 480px;
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-bottom: 64px;
        min-height: 200px;
        max-width: 100%;
    }
}